---

---

<div id="contact" class="contact">
    <svg preserveAspectRatio="none" class="contact__divider"  viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg"><path d="M 0,400 C 0,400 0,200 0,200 C 75.09721745104775,237.84747509446925 150.1944349020955,275.6949501889385 225,256 C 299.8055650979045,236.3050498110615 374.3194778426657,159.06767433871522 433,144 C 491.6805221573343,128.93232566128478 534.5276537272415,176.03435245620062 610,180 C 685.4723462727585,183.96564754379938 793.5699072483683,144.79491583648232 857,163 C 920.4300927516317,181.20508416351768 939.1927172792855,256.7859841978701 1003,271 C 1066.8072827207145,285.2140158021299 1175.6592236344898,238.0611473720371 1256,216 C 1336.3407763655102,193.9388526279629 1388.1703881827552,196.96942631398144 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#fff" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>
    <section class="animationGroup contact__text">
        <h1 style="--animation: slideTTB">Let's talk!</h1>
        <p style="--animation: slideRTL; --delay: 100ms">If you'd like to ask a question, or just say hi.<br>Then don't hesitate to contact me via one of these methods!</p>

        <ul class="contact__socials" style="--animation: slideBTT; --delay: 200ms">
            <li>
                <a href="mailto:zoey@zoezo.dev">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M9 9l4.5 3L18 9M3 13.5h2M1 10.5h4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 7.5V7a2 2 0 012-2h13a2 2 0 012 2v10a2 2 0 01-2 2H7a2 2 0 01-2-2v-.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/zoeybosman/" target="_blank">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </a>
            </li>

            <li>
                <a href="https://github.com/MsZoezo" target="_blank">
                    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentcolor"><path d="M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87M9 20.027c-3 .973-5.5 0-7-3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </a>
            </li>
        </ul>
    </section>
</div>

<style lang="scss" is:global>
    .contact {
        width: 100%;
		background-color: var(--quartary);

        &__text {
            text-align: center;
            max-width: 75rem;
            width: 100%;

            margin: 0 auto;
            padding: 0 2rem;
	    }

        &__divider {
            height: 5rem;
            width: 100%;
		
            & path {
                width: 100%;
            
                animation:contactDividerAnim 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
	    }

        &__socials {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            justify-content: center;

            & svg {
                width: 5rem;
                height: 5rem;
            }
        }
	}

	@keyframes contactDividerAnim {
		0%{
		d: path("M 0,400 C 0,400 0,200 0,200 C 75.09721745104775,237.84747509446925 150.1944349020955,275.6949501889385 225,256 C 299.8055650979045,236.3050498110615 374.3194778426657,159.06767433871522 433,144 C 491.6805221573343,128.93232566128478 534.5276537272415,176.03435245620062 610,180 C 685.4723462727585,183.96564754379938 793.5699072483683,144.79491583648232 857,163 C 920.4300927516317,181.20508416351768 939.1927172792855,256.7859841978701 1003,271 C 1066.8072827207145,285.2140158021299 1175.6592236344898,238.0611473720371 1256,216 C 1336.3407763655102,193.9388526279629 1388.1703881827552,196.96942631398144 1440,200 C 1440,200 1440,400 1440,400 Z");
		}

		25%{
			d: path("M 0,400 C 0,400 0,200 0,200 C 84.50841635176917,228.68773617313636 169.01683270353834,257.3754723462727 230,270 C 290.98316729646166,282.6245276537273 328.4410855376159,279.18584678804535 392,247 C 455.5589144623841,214.81415321195465 545.2188251459979,153.88114050154587 631,135 C 716.7811748540021,116.11885949845413 798.6836138783923,139.28959120577122 853,156 C 907.3163861216077,172.71040879422878 934.0467193404329,182.9604946753693 1003,179 C 1071.953280659567,175.0395053246307 1183.1295087598762,156.86843009275162 1263,158 C 1342.8704912401238,159.13156990724838 1391.4352456200618,179.5657849536242 1440,200 C 1440,200 1440,400 1440,400 Z");
		}
			
		50%{
			d: path("M 0,400 C 0,400 0,200 0,200 C 79.73892133287532,185.14805908622466 159.47784266575064,170.29611817244933 219,174 C 278.52215733424936,177.70388182755067 317.8275506698729,199.96358639642733 382,190 C 446.1724493301271,180.03641360357267 535.2119546547578,137.8495362418413 619,142 C 702.7880453452422,146.1504637581587 781.324630711096,196.63826863620747 855,213 C 928.675369288904,229.36173136379253 997.4895225008586,211.59738921332874 1062,199 C 1126.5104774991414,186.40261078667126 1186.717279285469,178.9721745104775 1249,180 C 1311.282720714531,181.0278254895225 1375.6413603572655,190.51391274476126 1440,200 C 1440,200 1440,400 1440,400 Z");
		}
			  
		75%{
			d: path("M 0,400 C 0,400 0,200 0,200 C 63.21951219512195,173.36447956028857 126.4390243902439,146.72895912057714 202,161 C 277.5609756097561,175.27104087942286 365.46341463414626,230.44864307798008 430,239 C 494.53658536585374,247.55135692201992 535.7073170731709,209.4764685675026 601,182 C 666.2926829268291,154.5235314324974 755.7073170731707,137.6454826520096 829,138 C 902.2926829268293,138.3545173479904 959.4634146341464,155.94160082445896 1034,168 C 1108.5365853658536,180.05839917554104 1200.4390243902437,186.5881140501546 1271,191 C 1341.5609756097563,195.4118859498454 1390.7804878048782,197.70594297492272 1440,200 C 1440,200 1440,400 1440,400 Z");
		}
			  
		100%{
			d: path("M 0,400 C 0,400 0,200 0,200 C 75.09721745104775,237.84747509446925 150.1944349020955,275.6949501889385 225,256 C 299.8055650979045,236.3050498110615 374.3194778426657,159.06767433871522 433,144 C 491.6805221573343,128.93232566128478 534.5276537272415,176.03435245620062 610,180 C 685.4723462727585,183.96564754379938 793.5699072483683,144.79491583648232 857,163 C 920.4300927516317,181.20508416351768 939.1927172792855,256.7859841978701 1003,271 C 1066.8072827207145,285.2140158021299 1175.6592236344898,238.0611473720371 1256,216 C 1336.3407763655102,193.9388526279629 1388.1703881827552,196.96942631398144 1440,200 C 1440,200 1440,400 1440,400 Z");
		}
	}
</style>