---
---

<div class="footer">
    <svg preserveAspectRatio="none" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="footer__divider"><path d="M 0,400 C 0,400 0,200 0,200 C 71.49484536082473,213.9412739322533 142.98969072164945,227.88254786450662 197,231 C 251.01030927835055,234.11745213549338 287.5360824742269,226.41108247422684 351,228 C 414.4639175257731,229.58891752577316 504.86597938144325,240.47312223858614 565,220 C 625.1340206185567,199.52687776141386 655,147.69642857142858 700,127 C 745,106.30357142857142 805.1340206185567,116.74116347569955 880,142 C 954.8659793814433,167.25883652430045 1044.4639175257735,207.3389175257732 1102,207 C 1159.5360824742265,206.6610824742268 1185.0103092783506,165.90316642120766 1236,158 C 1286.9896907216494,150.09683357879234 1363.4948453608247,175.04841678939619 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="currentColor" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>
    <p class="willAnimate" style="--animation: slideBTT">Zoezo © 2023-2024. All rights reserved.</p>
</div>

<style lang="scss" is:global>
    .footer {
        float: inline-end;
        height: 10rem;
        width: 100%;
        background-color: var(--tertiary);


        &__divider {
            width: 100%;
            height: 5rem;

            color: var(--quartary); 

            & path {
                animation:  footerDividerAnim 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        & p {
            margin: 0;
            text-align: center;
            color: var(--primary);
        }
    }

    @keyframes footerDividerAnim {
        0%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 71.49484536082473,213.9412739322533 142.98969072164945,227.88254786450662 197,231 C 251.01030927835055,234.11745213549338 287.5360824742269,226.41108247422684 351,228 C 414.4639175257731,229.58891752577316 504.86597938144325,240.47312223858614 565,220 C 625.1340206185567,199.52687776141386 655,147.69642857142858 700,127 C 745,106.30357142857142 805.1340206185567,116.74116347569955 880,142 C 954.8659793814433,167.25883652430045 1044.4639175257735,207.3389175257732 1102,207 C 1159.5360824742265,206.6610824742268 1185.0103092783506,165.90316642120766 1236,158 C 1286.9896907216494,150.09683357879234 1363.4948453608247,175.04841678939619 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        25%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 68.0108615611193,203.57290132547865 136.0217231222386,207.14580265095728 193,205 C 249.9782768777614,202.85419734904272 295.9239690721649,194.98969072164948 360,183 C 424.0760309278351,171.01030927835052 506.2824005891016,154.89543446244477 570,152 C 633.7175994108984,149.10456553755523 678.9464285714286,159.42857142857142 731,177 C 783.0535714285714,194.57142857142858 841.9318851251841,219.39027982326954 909,225 C 976.0681148748159,230.60972017673046 1051.326030927835,217.0103092783505 1103,194 C 1154.673969072165,170.9896907216495 1182.7639911634758,138.56848306332844 1235,138 C 1287.2360088365242,137.43151693667156 1363.618004418262,168.71575846833576 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
        
        50%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 75.31277614138439,221.44532400589102 150.62555228276878,242.89064801178205 202,252 C 253.37444771723122,261.10935198821795 280.8105670103092,257.88273195876286 335,229 C 389.1894329896908,200.11726804123714 470.13217967599417,145.5784241531664 548,126 C 625.8678203240058,106.42157584683359 700.6607142857143,121.80357142857147 747,146 C 793.3392857142857,170.19642857142853 811.2249631811487,203.20729013254783 869,226 C 926.7750368188513,248.79270986745217 1024.4394329896907,261.36726804123714 1101,242 C 1177.5605670103093,222.63273195876286 1233.0173048600882,171.32363770250367 1286,159 C 1338.9826951399118,146.67636229749633 1389.491347569956,173.33818114874816 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
          
        75%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 45.59628129602356,215.7043446244477 91.19256259204712,231.40868924889543 163,224 C 234.80743740795288,216.59131075110457 332.8260309278351,186.06958762886597 388,185 C 443.1739690721649,183.93041237113403 455.5033136966126,212.31296023564065 508,211 C 560.4966863033874,209.68703976435935 653.1607142857142,178.67857142857144 727,157 C 800.8392857142858,135.32142857142856 855.8538291605303,122.97275405007363 906,136 C 956.1461708394697,149.02724594992637 1001.4239690721649,187.430412371134 1069,199 C 1136.576030927835,210.569587628866 1226.4502945508102,195.3055964653903 1292,191 C 1357.5497054491898,186.6944035346097 1398.774852724595,193.34720176730485 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
          
        100%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 71.49484536082473,213.9412739322533 142.98969072164945,227.88254786450662 197,231 C 251.01030927835055,234.11745213549338 287.5360824742269,226.41108247422684 351,228 C 414.4639175257731,229.58891752577316 504.86597938144325,240.47312223858614 565,220 C 625.1340206185567,199.52687776141386 655,147.69642857142858 700,127 C 745,106.30357142857142 805.1340206185567,116.74116347569955 880,142 C 954.8659793814433,167.25883652430045 1044.4639175257735,207.3389175257732 1102,207 C 1159.5360824742265,206.6610824742268 1185.0103092783506,165.90316642120766 1236,158 C 1286.9896907216494,150.09683357879234 1363.4948453608247,175.04841678939619 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
    }
</style>