---

---

<header class="header" id="header">
    <div class="header__inner">
        <svg class="header__background" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" id="blob" style="scale3d(1, 1, 1);"><path id="blob" fill="currentColor" style="opacity: 1;" d="M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z"></path></svg>
        
        <h1>Zoey Eijgenberger</h1>
        <p>Fullstack Developer</p>
        <a id="header__arrow" class="header__arrow" href="/#over"><?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
    </div>

    <svg preserveAspectRatio="none"  viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="header__divider"><path d="M 0,400 C 0,400 0,200 0,200 C 58.79628993473034,156.01236688423222 117.59257986946068,112.02473376846447 194,135 C 270.4074201305393,157.97526623153553 364.4259704568876,247.9134318103744 441,244 C 517.5740295431124,240.0865681896256 576.7035383029887,142.32153899003785 639,148 C 701.2964616970113,153.67846100996215 766.7598763311577,262.8004122294743 841,258 C 915.2401236688423,253.19958777052565 998.2569563723805,134.47681209206456 1065,125 C 1131.7430436276195,115.52318790793542 1182.2122981793198,215.29233940226726 1242,246 C 1301.7877018206802,276.70766059773274 1370.89385091034,238.35383029886637 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#fff" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg></header>


<script>
    const header = document.getElementById('header')!;
    const blob = document.getElementById('blob')!;
    const arrow = document.getElementById("header__arrow")! as HTMLAnchorElement;

    const throttle = (fn, delay) => {
        let time = Date.now();

        return () => {
            if(time + delay - Date.now() > 0) return;

            fn();
            time = Date.now();
        }
    }

    function onScroll() {
        const percentage = window.scrollY / (header.clientHeight / 7.5);

        if(percentage < 1) blob.style.transform = "scale3d(1, 1, 1)";
        else if (percentage > 5)  blob.style.transform = "scale3d(5, 5, 5)";
        else blob.style.transform = `scale3d(${percentage}, ${percentage}, ${percentage})`;

        arrow.style.opacity = `${100 - percentage * 100 / 4}%`;
    }

    window.addEventListener("scroll", throttle(onScroll, 25));

    window.addEventListener("load", () => onScroll());
</script>

<style lang="scss" is:global>
    .header {
        height: 300vh;
        min-height: 180rem;
        position: relative;
        width: auto;

        &__inner {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 7rem);
            justify-content: center;
            overflow: hidden;
            position: sticky;
            top: 7rem;
            width: auto;
        }

        &__background {
            transform-orientation: center;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateZ(0);
            transform-origin: center;
            transition: transform .5s ease-out;
            width: 100%;
            will-change: transform;
            z-index: -1;

            min-height: 75rem;

            color: var(--quartary);

            & path {
                animation: blobAnim 6s infinite linear;
            }
        }

        &__arrow {
            position: absolute;

            bottom: 10%;

            width: 10rem;
            height: 10rem;

            animation: arrowBob 3s infinite ease-in-out;

            & svg {
                width: 100%;
                height: 100%;

                stroke: var(--primary);
            }

            transition: opacity .5s ease-out;
        }

        &__divider {
            height: 5rem;
            left: 0;
            position: absolute;
            bottom: 0rem;
            width: 100%;

            overflow: hidden;

            display: flex;
            align-items: bottom;

            & path {
                animation: headerDividerAnim 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite; 
            }
        }

        & h1 {
            color: var(--primary);
            font-size: clamp(5.75rem,10vw,15rem);
            margin-bottom: -1rem;
            text-align: center;
            text-shadow: clamp(.15rem, .8vw,.7rem) clamp(.15rem,.8vw,.7rem) var(--secondary),clamp(.3rem,1.6vw,1.4rem) clamp(.3rem,1.6vw,1.4rem) var(--tertiary);  
        }

        & p {
            color: var(--primary);
            font-size: clamp(3.5rem,6vw,7.5rem);
            text-shadow: clamp(.15rem,.2vw,.5rem) clamp(.15rem,.2vw,.35rem) var(--secondary);
        }
    }

    @keyframes headerDividerAnim {
        0%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 58.79628993473034,156.01236688423222 117.59257986946068,112.02473376846447 194,135 C 270.4074201305393,157.97526623153553 364.4259704568876,247.9134318103744 441,244 C 517.5740295431124,240.0865681896256 576.7035383029887,142.32153899003785 639,148 C 701.2964616970113,153.67846100996215 766.7598763311577,262.8004122294743 841,258 C 915.2401236688423,253.19958777052565 998.2569563723805,134.47681209206456 1065,125 C 1131.7430436276195,115.52318790793542 1182.2122981793198,215.29233940226726 1242,246 C 1301.7877018206802,276.70766059773274 1370.89385091034,238.35383029886637 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        25%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 85.2064582617657,188.02404671934045 170.4129165235314,176.04809343868087 229,181 C 287.5870834764686,185.95190656131913 319.55479216764,207.83167296461698 373,219 C 426.44520783236,230.16832703538302 501.36791480590864,230.62521470285125 586,217 C 670.6320851940914,203.37478529714875 764.9735486087255,175.66746822397803 836,195 C 907.0264513912745,214.33253177602197 954.7378907591892,280.70491240123664 1015,271 C 1075.2621092408108,261.29508759876336 1148.0748883545173,175.51288217107526 1221,151 C 1293.9251116454827,126.48711782892475 1366.9625558227413,163.24355891446237 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        50%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 71.53967708691172,203.39058742700104 143.07935417382345,206.78117485400207 219,196 C 294.92064582617655,185.21882514599793 375.2222603916181,160.2658880109928 444,166 C 512.7777396083819,171.7341119890072 570.0316042597045,208.15527310202677 635,210 C 699.9683957402955,211.84472689797323 772.6513225695638,179.11301958090004 831,175 C 889.3486774304362,170.88698041909996 933.3631054620405,195.39264857437306 998,207 C 1062.6368945379595,218.60735142562694 1147.896255582274,217.3163861216077 1225,214 C 1302.103744417726,210.6836138783923 1371.051872208863,205.34180693919615 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
          
        75%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 55.34799038131226,199.26554448643077 110.69598076262452,198.53108897286157 176,217 C 241.30401923737548,235.46891102713843 316.5640673308141,273.14118859498456 389,251 C 461.4359326691859,228.85881140501544 531.0477499141189,146.90415664720027 597,146 C 662.9522500858811,145.09584335279973 725.2449330127105,225.24218481621432 795,263 C 864.7550669872895,300.7578151837857 941.9725180350397,296.1271040879423 1022,259 C 1102.0274819649603,221.8728959120577 1184.8649948471316,152.24939883201648 1255,137 C 1325.1350051528684,121.75060116798352 1382.5675025764342,160.87530058399176 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        100%{
            d: path("M 0,400 C 0,400 0,200 0,200 C 58.79628993473034,156.01236688423222 117.59257986946068,112.02473376846447 194,135 C 270.4074201305393,157.97526623153553 364.4259704568876,247.9134318103744 441,244 C 517.5740295431124,240.0865681896256 576.7035383029887,142.32153899003785 639,148 C 701.2964616970113,153.67846100996215 766.7598763311577,262.8004122294743 841,258 C 915.2401236688423,253.19958777052565 998.2569563723805,134.47681209206456 1065,125 C 1131.7430436276195,115.52318790793542 1182.2122981793198,215.29233940226726 1242,246 C 1301.7877018206802,276.70766059773274 1370.89385091034,238.35383029886637 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
    }

    @keyframes blobAnim {
        0% {
            d: path("M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z");
        }

        33% {
            d: path("M453.78747,319.98894Q416.97789,389.97789,353.96683,436.87838Q290.95577,483.77887,223.95577,447.43366Q156.95577,411.08845,105.64373,365.97789Q54.33169,320.86732,62.67444,252.61056Q71.01719,184.3538,113.01965,135.21007Q155.02211,86.06634,220.52211,66.46683Q286.02211,46.86732,335.5,91.94472Q384.97789,137.02211,437.78747,193.51106Q490.59704,250,453.78747,319.98894Z");
        }

        66% {
            d: path("M411.39826,313.90633Q402.59677,377.81265,342.92059,407.63957Q283.24442,437.46649,215.13648,432.5428Q147.02853,427.61911,82.23325,380.9572Q17.43796,334.29529,20.45223,250.83809Q23.46649,167.38089,82.5856,115.05707Q141.70471,62.73325,212.19045,63.73015Q282.67618,64.72705,352.67308,84.79839Q422.66998,104.86972,421.43486,177.43486Q420.19974,250,411.39826,313.90633Z");
        }

        100% {
            d: path("M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z");
        }
    }

    @keyframes arrowBob {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(2rem);
        }
    }
</style>