.item {
    min-width: 30rem;
    max-width: 60rem;
    width: auto;

    padding: 1.5rem;

    margin: 0 2rem 0 1rem; 

    height: max-content;

    margin-bottom: 2.5rem;

    color: white;
}

.item:nth-child(odd) {
    margin-left: 7.5rem;
}

.item:nth-child(even) {
    margin-right: 7.5rem;
}

.tags {
    width: 100%;
    /* height: auto; */

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    font-size: 80%;
}

.tag {
    color: var(--bg-colour);
    background-color: white;
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    margin: 0;
}

.title {
    margin: 0;
}

.text {
    margin: 1rem 0 0.5rem 0;
}

.text a {
    text-decoration: underline;
}

.links {
    float: right;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media only screen and (max-width: 550px) {
    .item:nth-child(even), .item:nth-child(odd) {
        margin-left: 10px;
        margin-right: 20px;
    }
}