.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--bg-colour);
}

.header {
    background-color: var(--text-bg-colour);

    margin: 2rem 0 1.5rem 0;
}